/* Global Styles */

.page-body {

  background-color: #2b3929;

}

.grid-container {

  display: grid;
  align-content: flex-start;
  grid-template-columns: 2fr 1fr;
  padding-top: 5px;

}

caption, th, td {

  font-family: 'Courier New', Courier, monospace;
  font-size: 1rem;
  border: 1px solid black;
  column-width: 100%;
  background: #4c5844;
  color:white;

}

caption, th {

  position: sticky;
  top: 3.15%;
  color: #d6ec00;
  font-weight: normal;
  background: #4c5844;
  z-index: 1;

}

caption {

  top: 0;
  color: white;

}

td {

  width: 10%;

}

/* Control Bar */


.control-bar {

  flex-direction: row;
  display: flex;
  justify-content: space-between;
  background-color: #4c5844;
  border: 1px solid black;
  height: 5vh;
  width: 99vw;

}

.control-bar-button-area {

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

}

.control-bar-button {
  
  font-family: 'Courier New', Courier, monospace;
  height: auto;
  font-size: 1rem;
  cursor: pointer;
  color: #d6ec00;
  background-color: #4c5844;
  border: 1px solid black;
  height: 85%;
  margin: 1px;
  margin-left: 2px;
  margin-right: 2px;
  justify-content: center;

}

.control-bar-title {

  justify-content: center;
  font-family: 'Perfect DOS VGA 437 Win', sans-serif;
  color: #d6ec00;
  font-size: 2.15rem;
  font-weight: normal;
  letter-spacing: -1px

}

/* Coding Area */

.code-area {

  width: 50vw;
  height: 90vh;

}

.code-text-area {

  resize: none;
  height: 99%;
  width: 100%;
  background-color: #4c5844;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1rem;
  border: 1px solid black;

}

/* Register Table Area */

.table-area {

  height: 90vh;
  width: 48vw;
  display: flex;

}

.register-table-area {

  height: 100%;
  width: 50%;

}

.register-table, .memory-table, .program-table {

  font-size: 1rem;
  display: block;
  border-collapse: separate;
  border-spacing: 0px;
  width: 100%;
  column-width: 100%;
  grid-column-end: span;
  border: 1px solid black;
  max-height: 100%;
  overflow-y: visible;
  overflow-x: hidden;
  scrollbar-gutter: stable;
  scrollbar-width: thin;
  scrollbar-color: white#4c5844;

}

.memory-table {
  
  margin-left: 2%;

}

.program-table {

  margin-top: 2%;
  column-width: 50%;

}


.memory-table-area {

  width: 49.5%;

}

.data-value {

  width: fit-content;
  color: #d6ec00;

}

/* Modal Conent */

.modal-title {

  font-family: 'Courier New', Courier, monospace;
  font-size: 1.5rem;
  color: #d6ec00;

}

.modal-overlay {
  
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content, .load-program-content {
    background: #4c5844;
    border: 2px solid #d6ec00;
    height:max-content;
    padding: 20px;
    width: 400px;
    color: white;
}

.load-program-content {

  display: flex;
  flex-direction: row;

}

.load-program-list {

  display: flex;
  flex-direction: column;
  gap: 5px;
  max-height: 300px;
  overflow-y: auto;
  padding-right: 10px;
  flex-grow: 1;
  scrollbar-width: thin;
  scrollbar-color: #d6ec00 #4c5844;

}

.modal-content input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    background: #4c5844;
    color: #d6ec00;
    border: 1px solid #d6ec00;
}

.modal-text {

  font-family: 'Courier New', Courier, monospace;
  font-size: 1rem;
  color: white;

}

.modal-error-message, .online-text {

  font-family: 'Courier New', Courier, monospace;
  font-size: 0.5 rem;
  color: red;


}

.online-text {

  color: white;

}

.offline-notification {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #4c5844;
    color: #fff;
    padding: 12px 24px;
    border-radius: 8px;
    border-left: 5px solid #d6ec00;
    box-shadow: 0 4px 15px black(0,0,0,0.3);
    z-index: 9999;
    transition: opacity 0.3s ease, visibility 0.3s;
}